In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
import seaborn as sns

In [4]:
from vega_datasets import data
data.cars()

                          Name  Miles_per_Gallon  ...       Year  Origin
0    chevrolet chevelle malibu              18.0  ... 1970-01-01     USA
1            buick skylark 320              15.0  ... 1970-01-01     USA
2           plymouth satellite              18.0  ... 1970-01-01     USA
3                amc rebel sst              16.0  ... 1970-01-01     USA
4                  ford torino              17.0  ... 1970-01-01     USA
..                         ...               ...  ...        ...     ...
401            ford mustang gl              27.0  ... 1982-01-01     USA
402                  vw pickup              44.0  ... 1982-01-01  Europe
403              dodge rampage              32.0  ... 1982-01-01     USA
404                ford ranger              28.0  ... 1982-01-01     USA
405                 chevy s-10              31.0  ... 1982-01-01     USA

[406 rows x 9 columns]