In [2]:
!pip install dtale

Requirement already satisfied: dtale in c:\users\894524\.conda\envs\ml\lib\site-packages (1.56.0)
Requirement already satisfied: missingno<=0.4.2 in c:\users\894524\.conda\envs\ml\lib\site-packages (from dtale) (0.4.2)
Requirement already satisfied: six in c:\users\894524\appdata\roaming\python\python39\site-packages (from dtale) (1.16.0)
Requirement already satisfied: seaborn in c:\users\894524\appdata\roaming\python\python39\site-packages (from dtale) (0.11.2)
Requirement already satisfied: lz4 in c:\users\894524\.conda\envs\ml\lib\site-packages (from dtale) (3.1.3)
Requirement already satisfied: requests in c:\users\894524\.conda\envs\ml\lib\site-packages (from dtale) (2.26.0)
Requirement already satisfied: xlrd in c:\users\894524\.conda\envs\ml\lib\site-packages (from dtale) (2.0.1)
Requirement already satisfied: ppscore in c:\users\894524\.conda\envs\ml\lib\site-packages (from dtale) (1.2.0)
Requirement already satisfied: pandas in c:\users\894524\appdata\roaming\python\python39\site-packages (from dtale) (1.3.2)
Requirement already satisfied: dash-colorscales in c:\users\894524\.conda\envs\ml\lib\site-packages (from dtale) (0.0.4)
Requirement already satisfied: et-xmlfile in c:\users\894524\.conda\envs\ml\lib\site-packages (from dtale) (1.1.0)
Requirement already satisfied: scipy in c:\users\894524\appdata\roaming\python\python39\site-packages (from dtale) (1.7.1)
Requirement already satisfied: xarray in c:\users\894524\.conda\envs\ml\lib\site-packages (from dtale) (0.19.0)
Requirement already satisfied: plotly>=5.0.0 in c:\users\894524\.conda\envs\ml\lib\site-packages (from dtale) (5.3.1)
Requirement already satisfied: itsdangerous in c:\users\894524\.conda\envs\ml\lib\site-packages (from dtale) (2.0.1)
Requirement already satisfied: dash>=1.5.0 in c:\users\894524\.conda\envs\ml\lib\site-packages (from dtale) (2.0.0)
Requirement already satisfied: kaleido in c:\users\894524\.conda\envs\ml\lib\site-packages (from dtale) (0.2.1)
Requirement already satisfied: scikit-learn in c:\users\894524\appdata\roaming\python\python39\site-packages (from dtale) (0.24.2)
Requirement already satisfied: strsimpy in c:\users\894524\.conda\envs\ml\lib\site-packages (from dtale) (0.2.1)
Requirement already satisfied: Flask in c:\users\894524\.conda\envs\ml\lib\site-packages (from dtale) (2.0.1)
Requirement already satisfied: dash-bootstrap-components in c:\users\894524\.conda\envs\ml\lib\site-packages (from dtale) (0.13.0)
Requirement already satisfied: squarify in c:\users\894524\.conda\envs\ml\lib\site-packages (from dtale) (0.4.3)
Requirement already satisfied: openpyxl in c:\users\894524\.conda\envs\ml\lib\site-packages (from dtale) (3.0.8)
Requirement already satisfied: statsmodels in c:\users\894524\.conda\envs\ml\lib\site-packages (from dtale) (0.12.2)
Requirement already satisfied: matplotlib in c:\users\894524\appdata\roaming\python\python39\site-packages (from dtale) (3.4.3)
Requirement already satisfied: flask-ngrok in c:\users\894524\.conda\envs\ml\lib\site-packages (from dtale) (0.0.25)
Requirement already satisfied: networkx in c:\users\894524\.conda\envs\ml\lib\site-packages (from dtale) (2.6.3)
Requirement already satisfied: dash-daq in c:\users\894524\.conda\envs\ml\lib\site-packages (from dtale) (0.5.0)
Requirement already satisfied: future>=0.14.0 in c:\users\894524\.conda\envs\ml\lib\site-packages (from dtale) (0.18.2)
Requirement already satisfied: Flask-Compress in c:\users\894524\.conda\envs\ml\lib\site-packages (from dtale) (1.10.1)
Requirement already satisfied: numpy in c:\users\894524\appdata\roaming\python\python39\site-packages (from dtale) (1.21.2)
Requirement already satisfied: dash-core-components==2.0.0 in c:\users\894524\.conda\envs\ml\lib\site-packages (from dash>=1.5.0->dtale) (2.0.0)
Requirement already satisfied: dash-table==5.0.0 in c:\users\894524\.conda\envs\ml\lib\site-packages (from dash>=1.5.0->dtale) (5.0.0)
Requirement already satisfied: dash-html-components==2.0.0 in c:\users\894524\.conda\envs\ml\lib\site-packages (from dash>=1.5.0->dtale) (2.0.0)
Requirement already satisfied: Jinja2>=3.0 in c:\users\894524\appdata\roaming\python\python39\site-packages (from Flask->dtale) (3.0.1)
Requirement already satisfied: click>=7.1.2 in c:\users\894524\.conda\envs\ml\lib\site-packages (from Flask->dtale) (8.0.1)
Requirement already satisfied: Werkzeug>=2.0 in c:\users\894524\.conda\envs\ml\lib\site-packages (from Flask->dtale) (2.0.1)
Requirement already satisfied: colorama in c:\users\894524\.conda\envs\ml\lib\site-packages (from click>=7.1.2->Flask->dtale) (0.4.4)
Requirement already satisfied: MarkupSafe>=2.0 in c:\users\894524\appdata\roaming\python\python39\site-packages (from Jinja2>=3.0->Flask->dtale) (2.0.1)
Requirement already satisfied: tenacity>=6.2.0 in c:\users\894524\.conda\envs\ml\lib\site-packages (from plotly>=5.0.0->dtale) (8.0.1)
Requirement already satisfied: brotli in c:\users\894524\.conda\envs\ml\lib\site-packages (from Flask-Compress->dtale) (1.0.9)
Requirement already satisfied: cycler>=0.10 in c:\users\894524\appdata\roaming\python\python39\site-packages (from matplotlib->dtale) (0.10.0)
Requirement already satisfied: pillow>=6.2.0 in c:\users\894524\.conda\envs\ml\lib\site-packages (from matplotlib->dtale) (8.3.2)
Requirement already satisfied: pyparsing>=2.2.1 in c:\users\894524\appdata\roaming\python\python39\site-packages (from matplotlib->dtale) (2.4.7)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\894524\appdata\roaming\python\python39\site-packages (from matplotlib->dtale) (2.8.2)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\894524\appdata\roaming\python\python39\site-packages (from matplotlib->dtale) (1.3.1)
Requirement already satisfied: pytz>=2017.3 in c:\users\894524\.conda\envs\ml\lib\site-packages (from pandas->dtale) (2021.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\894524\appdata\roaming\python\python39\site-packages (from scikit-learn->dtale) (2.2.0)
Requirement already satisfied: joblib>=0.11 in c:\users\894524\appdata\roaming\python\python39\site-packages (from scikit-learn->dtale) (1.0.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\894524\.conda\envs\ml\lib\site-packages (from requests->dtale) (1.26.6)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\894524\.conda\envs\ml\lib\site-packages (from requests->dtale) (2021.5.30)
Requirement already satisfied: idna<4,>=2.5 in c:\users\894524\.conda\envs\ml\lib\site-packages (from requests->dtale) (3.2)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\894524\.conda\envs\ml\lib\site-packages (from requests->dtale) (2.0.4)
Requirement already satisfied: patsy>=0.5 in c:\users\894524\.conda\envs\ml\lib\site-packages (from statsmodels->dtale) (0.5.1)
Requirement already satisfied: setuptools>=40.4 in c:\users\894524\.conda\envs\ml\lib\site-packages (from xarray->dtale) (58.0.4)

In [5]:
import dtale

C:\ProgramData\Anaconda3\lib\site-packages\dtale\dash_application\charts.py:13: UserWarning:
The dash_core_components package is deprecated. Please replace
`import dash_core_components as dcc` with `from dash import dcc`
  import dash_core_components as dcc
C:\ProgramData\Anaconda3\lib\site-packages\dtale\dash_application\charts.py:14: UserWarning:
The dash_html_components package is deprecated. Please replace
`import dash_html_components as html` with `from dash import html`
  import dash_html_components as html

In [10]:
import seaborn as sns
import pandas as pd
df=pd.read_csv ("titanic_train.csv")

In [11]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [14]:
dtale.show(df)

In [24]:
!pip install pandas-profiling

Collecting pandas-profiling
  Using cached pandas_profiling-3.0.0-py2.py3-none-any.whl (248 kB)
Requirement already satisfied: tangled-up-in-unicode==0.1.0 in c:\users\894524\.conda\envs\ml\lib\site-packages (from pandas-profiling) (0.1.0)
Collecting phik>=0.11.1
  Using cached phik-0.12.0-cp39-cp39-win_amd64.whl (659 kB)
Requirement already satisfied: joblib in c:\users\894524\appdata\roaming\python\python39\site-packages (from pandas-profiling) (1.0.1)
Collecting tqdm>=4.48.2
  Using cached tqdm-4.62.2-py2.py3-none-any.whl (76 kB)
Requirement already satisfied: requests>=2.24.0 in c:\users\894524\.conda\envs\ml\lib\site-packages (from pandas-profiling) (2.26.0)
Requirement already satisfied: jinja2>=2.11.1 in c:\users\894524\appdata\roaming\python\python39\site-packages (from pandas-profiling) (3.0.1)
Collecting PyYAML>=5.0.0
  Using cached PyYAML-5.4.1-cp39-cp39-win_amd64.whl (213 kB)
Requirement already satisfied: numpy>=1.16.0 in c:\users\894524\appdata\roaming\python\python39\site-packages (from pandas-profiling) (1.21.2)
Requirement already satisfied: seaborn>=0.10.1 in c:\users\894524\appdata\roaming\python\python39\site-packages (from pandas-profiling) (0.11.2)
Collecting visions[type_image_path]==0.7.1
  Using cached visions-0.7.1-py3-none-any.whl (102 kB)
Requirement already satisfied: scipy>=1.4.1 in c:\users\894524\appdata\roaming\python\python39\site-packages (from pandas-profiling) (1.7.1)
Requirement already satisfied: matplotlib>=3.2.0 in c:\users\894524\appdata\roaming\python\python39\site-packages (from pandas-profiling) (3.4.3)
Collecting pydantic>=1.8.1
  Using cached pydantic-1.8.2-cp39-cp39-win_amd64.whl (1.9 MB)

  ERROR: Command errored out with exit status 1:
   command: 'C:\Users\894524\.conda\envs\ML\python.exe' 'C:\Users\894524\AppData\Local\Temp\pip-standalone-pip-_3zaonj5\__env_pip__.zip\pip' install --ignore-installed --no-user --prefix 'C:\Users\894524\AppData\Local\Temp\pip-build-env-dfq63ilx\overlay' --no-warn-script-location --no-binary :none: --only-binary :none: -i https://pypi.org/simple -- setuptools wheel 'numpy==1.13.3; python_version=='"'"'2.7'"'"' and platform_system!='"'"'AIX'"'"'' 'numpy==1.13.3; python_version=='"'"'3.5'"'"' and platform_system!='"'"'AIX'"'"'' 'numpy==1.13.3; python_version=='"'"'3.6'"'"' and platform_system!='"'"'AIX'"'"'' 'numpy==1.14.5; python_version=='"'"'3.7'"'"' and platform_system!='"'"'AIX'"'"'' 'numpy==1.17.3; python_version>='"'"'3.8'"'"' and platform_system!='"'"'AIX'"'"'' 'numpy==1.16.0; python_version=='"'"'2.7'"'"' and platform_system=='"'"'AIX'"'"'' 'numpy==1.16.0; python_version=='"'"'3.5'"'"' and platform_system=='"'"'AIX'"'"'' 'numpy==1.16.0; python_version=='"'"'3.6'"'"' and platform_system=='"'"'AIX'"'"'' 'numpy==1.16.0; python_version=='"'"'3.7'"'"' and platform_system=='"'"'AIX'"'"'' 'numpy==1.17.3; python_version>='"'"'3.8'"'"' and platform_system=='"'"'AIX'"'"''
       cwd: None
  Complete output (640 lines):
  Ignoring numpy: markers 'python_version == "2.7" and platform_system != "AIX"' don't match your environment
  Ignoring numpy: markers 'python_version == "3.5" and platform_system != "AIX"' don't match your environment
  Ignoring numpy: markers 'python_version == "3.6" and platform_system != "AIX"' don't match your environment
  Ignoring numpy: markers 'python_version == "3.7" and platform_system != "AIX"' don't match your environment
  Ignoring numpy: markers 'python_version == "2.7" and platform_system == "AIX"' don't match your environment
  Ignoring numpy: markers 'python_version == "3.5" and platform_system == "AIX"' don't match your environment
  Ignoring numpy: markers 'python_version == "3.6" and platform_system == "AIX"' don't match your environment
  Ignoring numpy: markers 'python_version == "3.7" and platform_system == "AIX"' don't match your environment
  Ignoring numpy: markers 'python_version >= "3.8" and platform_system == "AIX"' don't match your environment
  Collecting setuptools
    Using cached setuptools-58.0.4-py3-none-any.whl (816 kB)
  Collecting wheel
    Using cached wheel-0.37.0-py2.py3-none-any.whl (35 kB)
  Collecting numpy==1.17.3
    Using cached numpy-1.17.3.zip (6.4 MB)
  Building wheels for collected packages: numpy
    Building wheel for numpy (setup.py): started
    Building wheel for numpy (setup.py): finished with status 'error'
    ERROR: Command errored out with exit status 1:
     command: 'C:\Users\894524\.conda\envs\ML\python.exe' -u -c 'import io, os, sys, setuptools, tokenize; sys.argv[0] = '"'"'C:\\Users\\894524\\AppData\\Local\\Temp\\pip-install-z74snxm0\\numpy_fb7c0041a60c4d359a385537a188861c\\setup.py'"'"'; __file__='"'"'C:\\Users\\894524\\AppData\\Local\\Temp\\pip-install-z74snxm0\\numpy_fb7c0041a60c4d359a385537a188861c\\setup.py'"'"';f = getattr(tokenize, '"'"'open'"'"', open)(__file__) if os.path.exists(__file__) else io.StringIO('"'"'from setuptools import setup; setup()'"'"');code = f.read().replace('"'"'\r\n'"'"', '"'"'\n'"'"');f.close();exec(compile(code, __file__, '"'"'exec'"'"'))' bdist_wheel -d 'C:\Users\894524\AppData\Local\Temp\pip-wheel-qasno3bt'
         cwd: C:\Users\894524\AppData\Local\Temp\pip-install-z74snxm0\numpy_fb7c0041a60c4d359a385537a188861c\
    Complete output (292 lines):
    Running from numpy source directory.
    blas_opt_info:
    blas_mkl_info:
    No module named 'numpy.distutils._msvccompiler' in numpy.distutils; trying from distutils
    customize MSVCCompiler
      libraries mkl_rt not found in ['C:\\Users\\894524\\.conda\\envs\\ML\\lib', 'C:\\', 'C:\\Users\\894524\\.conda\\envs\\ML\\libs', 'C:\\ProgramData\\Anaconda3\\Library\\lib']
      NOT AVAILABLE

    blis_info:
    No module named 'numpy.distutils._msvccompiler' in numpy.distutils; trying from distutils
    customize MSVCCompiler
      libraries blis not found in ['C:\\Users\\894524\\.conda\\envs\\ML\\lib', 'C:\\', 'C:\\Users\\894524\\.conda\\envs\\ML\\libs', 'C:\\ProgramData\\Anaconda3\\Library\\lib']
      NOT AVAILABLE

    openblas_info:
    No module named 'numpy.distutils._msvccompiler' in numpy.distutils; trying from distutils
    customize MSVCCompiler
    No module named 'numpy.distutils._msvccompiler' in numpy.distutils; trying from distutils
    customize MSVCCompiler
      libraries openblas not found in ['C:\\Users\\894524\\.conda\\envs\\ML\\lib', 'C:\\', 'C:\\Users\\894524\\.conda\\envs\\ML\\libs', 'C:\\ProgramData\\Anaconda3\\Library\\lib']
    get_default_fcompiler: matching types: '['gnu', 'intelv', 'absoft', 'compaqv', 'intelev', 'gnu95', 'g95', 'intelvem', 'intelem', 'flang']'
    customize GnuFCompiler
    Could not locate executable g77
    Could not locate executable f77
    customize IntelVisualFCompiler
    Could not locate executable ifort
    Could not locate executable ifl
    customize AbsoftFCompiler
    Could not locate executable f90
    customize CompaqVisualFCompiler
    Could not locate executable DF
    customize IntelItaniumVisualFCompiler

Collecting htmlmin>=0.1.12
  Using cached htmlmin-0.1.12-py3-none-any.whl
Requirement already satisfied: missingno>=0.4.2 in c:\users\894524\.conda\envs\ml\lib\site-packages (from pandas-profiling) (0.4.2)
Requirement already satisfied: pandas!=1.0.0,!=1.0.1,!=1.0.2,!=1.1.0,>=0.25.3 in c:\users\894524\appdata\roaming\python\python39\site-packages (from pandas-profiling) (1.3.2)
Requirement already satisfied: multimethod==1.4 in c:\users\894524\.conda\envs\ml\lib\site-packages (from visions[type_image_path]==0.7.1->pandas-profiling) (1.4)
Requirement already satisfied: networkx>=2.4 in c:\users\894524\.conda\envs\ml\lib\site-packages (from visions[type_image_path]==0.7.1->pandas-profiling) (2.6.3)
Requirement already satisfied: attrs>=19.3.0 in c:\users\894524\appdata\roaming\python\python39\site-packages (from visions[type_image_path]==0.7.1->pandas-profiling) (21.2.0)
Collecting bottleneck
  Using cached Bottleneck-1.3.2.tar.gz (88 kB)
  Installing build dependencies: started
  Installing build dependencies: finished with status 'error'
  Using cached Bottleneck-1.3.1.tar.gz (88 kB)
  Installing build dependencies: started
  Installing build dependencies: finished with status 'error'
  Using cached Bottleneck-1.3.0.tar.gz (87 kB)
  Installing build dependencies: started
  Installing build dependencies: finished with status 'error'
  Using cached Bottleneck-1.2.1.tar.gz (105 kB)
Collecting imagehash
  Using cached ImageHash-4.2.1-py2.py3-none-any.whl
Requirement already satisfied: Pillow in c:\users\894524\.conda\envs\ml\lib\site-packages (from visions[type_image_path]==0.7.1->pandas-profiling) (8.3.2)
Requirement already satisfied: MarkupSafe>=2.0 in c:\users\894524\appdata\roaming\python\python39\site-packages (from jinja2>=2.11.1->pandas-profiling) (2.0.1)
Requirement already satisfied: cycler>=0.10 in c:\users\894524\appdata\roaming\python\python39\site-packages (from matplotlib>=3.2.0->pandas-profiling) (0.10.0)
Requirement already satisfied: pyparsing>=2.2.1 in c:\users\894524\appdata\roaming\python\python39\site-packages (from matplotlib>=3.2.0->pandas-profiling) (2.4.7)

    Could not locate executable efl
    customize Gnu95FCompiler
    Could not locate executable gfortran
    Could not locate executable f95
    customize G95FCompiler
    Could not locate executable g95
    customize IntelEM64VisualFCompiler
    customize IntelEM64TFCompiler
    Could not locate executable efort
    Could not locate executable efc
    customize PGroupFlangCompiler
    Could not locate executable flang
    don't know how to compile Fortran code on platform 'nt'
      NOT AVAILABLE

    atlas_3_10_blas_threads_info:
    Setting PTATLAS=ATLAS
    No module named 'numpy.distutils._msvccompiler' in numpy.distutils; trying from distutils
    customize MSVCCompiler
      libraries tatlas not found in ['C:\\Users\\894524\\.conda\\envs\\ML\\lib', 'C:\\', 'C:\\Users\\894524\\.conda\\envs\\ML\\libs', 'C:\\ProgramData\\Anaconda3\\Library\\lib']
      NOT AVAILABLE

    atlas_3_10_blas_info:
    No module named 'numpy.distutils._msvccompiler' in numpy.distutils; trying from distutils
    customize MSVCCompiler
      libraries satlas not found in ['C:\\Users\\894524\\.conda\\envs\\ML\\lib', 'C:\\', 'C:\\Users\\894524\\.conda\\envs\\ML\\libs', 'C:\\ProgramData\\Anaconda3\\Library\\lib']
      NOT AVAILABLE

    atlas_blas_threads_info:
    Setting PTATLAS=ATLAS
    No module named 'numpy.distutils._msvccompiler' in numpy.distutils; trying from distutils
    customize MSVCCompiler
      libraries ptf77blas,ptcblas,atlas not found in ['C:\\Users\\894524\\.conda\\envs\\ML\\lib', 'C:\\', 'C:\\Users\\894524\\.conda\\envs\\ML\\libs', 'C:\\ProgramData\\Anaconda3\\Library\\lib']
      NOT AVAILABLE

    atlas_blas_info:
    No module named 'numpy.distutils._msvccompiler' in numpy.distutils; trying from distutils
    customize MSVCCompiler
      libraries f77blas,cblas,atlas not found in ['C:\\Users\\894524\\.conda\\envs\\ML\\lib', 'C:\\', 'C:\\Users\\894524\\.conda\\envs\\ML\\libs', 'C:\\ProgramData\\Anaconda3\\Library\\lib']
      NOT AVAILABLE

    accelerate_info:
      NOT AVAILABLE

    C:\Users\894524\AppData\Local\Temp\pip-install-z74snxm0\numpy_fb7c0041a60c4d359a385537a188861c\numpy\distutils\system_info.py:690: UserWarning:
        Optimized (vendor) Blas libraries are not found.
        Falls back to netlib Blas library which has worse performance.
        A better performance should be easily gained by switching
        Blas library.
      self.calc_info()
    blas_info:
    No module named 'numpy.distutils._msvccompiler' in numpy.distutils; trying from distutils
    customize MSVCCompiler
      libraries blas not found in ['C:\\Users\\894524\\.conda\\envs\\ML\\lib', 'C:\\', 'C:\\Users\\894524\\.conda\\envs\\ML\\libs', 'C:\\ProgramData\\Anaconda3\\Library\\lib']
      NOT AVAILABLE

    C:\Users\894524\AppData\Local\Temp\pip-install-z74snxm0\numpy_fb7c0041a60c4d359a385537a188861c\numpy\distutils\system_info.py:690: UserWarning:
        Blas (http://www.netlib.org/blas/) libraries not found.
        Directories to search for the libraries can be specified in the
        numpy/distutils/site.cfg file (section [blas]) or by setting
        the BLAS environment variable.
      self.calc_info()
    blas_src_info:
      NOT AVAILABLE

    C:\Users\894524\AppData\Local\Temp\pip-install-z74snxm0\numpy_fb7c0041a60c4d359a385537a188861c\numpy\distutils\system_info.py:690: UserWarning:
        Blas (http://www.netlib.org/blas/) sources not found.
        Directories to search for the sources can be specified in the
        numpy/distutils/site.cfg file (section [blas_src]) or by setting
        the BLAS_SRC environment variable.
      self.calc_info()
      NOT AVAILABLE

    'svnversion' is not recognized as an internal or external command,
    operable program or batch file.
    non-existing path in 'numpy\\distutils': 'site.cfg'
    lapack_opt_info:
    lapack_mkl_info:
    No module named 'numpy.distutils._msvccompiler' in numpy.distutils; trying from distutils
    customize MSVCCompiler
      libraries mkl_rt not found in ['C:\\Users\\894524\\.conda\\envs\\ML\\lib', 'C:\\', 'C:\\Users\\894524\\.conda\\envs\\ML\\libs', 'C:\\ProgramData\\Anaconda3\\Library\\lib']
      NOT AVAILABLE

    openblas_lapack_info:
    No module named 'numpy.distutils._msvccompiler' in numpy.distutils; trying from distutils
    customize MSVCCompiler
    No module named 'numpy.distutils._msvccompiler' in numpy.distutils; trying from distutils
    customize MSVCCompiler
      libraries openblas not found in ['C:\\Users\\894524\\.conda\\envs\\ML\\lib', 'C:\\', 'C:\\Users\\894524\\.conda\\envs\\ML\\libs', 'C:\\ProgramData\\Anaconda3\\Library\\lib']
      NOT AVAILABLE

    openblas_clapack_info:
    No module named 'numpy.distutils._msvccompiler' in numpy.distutils; trying from distutils
    customize MSVCCompiler
    No module named 'numpy.distutils._msvccompiler' in numpy.distutils; trying from distutils
    customize MSVCCompiler
      libraries openblas,lapack not found in ['C:\\Users\\894524\\.conda\\envs\\ML\\lib', 'C:\\', 'C:\\Users\\894524\\.conda\\envs\\ML\\libs', 'C:\\ProgramData\\Anaconda3\\Library\\lib']
      NOT AVAILABLE

    flame_info:
    No module named 'numpy.distutils._msvccompiler' in numpy.distutils; trying from distutils
    customize MSVCCompiler
      libraries flame not found in ['C:\\Users\\894524\\.conda\\envs\\ML\\lib', 'C:\\', 'C:\\Users\\894524\\.conda\\envs\\ML\\libs', 'C:\\ProgramData\\Anaconda3\\Library\\lib']

Requirement already satisfied: python-dateutil>=2.7 in c:\users\894524\appdata\roaming\python\python39\site-packages (from matplotlib>=3.2.0->pandas-profiling) (2.8.2)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\894524\appdata\roaming\python\python39\site-packages (from matplotlib>=3.2.0->pandas-profiling) (1.3.1)
Requirement already satisfied: six in c:\users\894524\appdata\roaming\python\python39\site-packages (from cycler>=0.10->matplotlib>=3.2.0->pandas-profiling) (1.16.0)
Requirement already satisfied: pytz>=2017.3 in c:\users\894524\.conda\envs\ml\lib\site-packages (from pandas!=1.0.0,!=1.0.1,!=1.0.2,!=1.1.0,>=0.25.3->pandas-profiling) (2021.1)
Collecting typing-extensions>=3.7.4.3
  Using cached typing_extensions-3.10.0.2-py3-none-any.whl (26 kB)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\894524\.conda\envs\ml\lib\site-packages (from requests>=2.24.0->pandas-profiling) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\894524\.conda\envs\ml\lib\site-packages (from requests>=2.24.0->pandas-profiling) (2021.5.30)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\894524\.conda\envs\ml\lib\site-packages (from requests>=2.24.0->pandas-profiling) (1.26.6)
Requirement already satisfied: idna<4,>=2.5 in c:\users\894524\.conda\envs\ml\lib\site-packages (from requests>=2.24.0->pandas-profiling) (3.2)
Requirement already satisfied: colorama in c:\users\894524\.conda\envs\ml\lib\site-packages (from tqdm>=4.48.2->pandas-profiling) (0.4.4)
Requirement already satisfied: PyWavelets in c:\users\894524\.conda\envs\ml\lib\site-packages (from imagehash->visions[type_image_path]==0.7.1->pandas-profiling) (1.1.1)
Building wheels for collected packages: bottleneck
  Building wheel for bottleneck (setup.py): started
  Building wheel for bottleneck (setup.py): finished with status 'error'
  Running setup.py clean for bottleneck
Failed to build bottleneck
Installing collected packages: bottleneck, visions, typing-extensions, imagehash, tqdm, PyYAML, pydantic, phik, htmlmin, pandas-profiling
    Running setup.py install for bottleneck: started
    Running setup.py install for bottleneck: finished with status 'error'

      NOT AVAILABLE

    atlas_3_10_threads_info:
    Setting PTATLAS=ATLAS
    No module named 'numpy.distutils._msvccompiler' in numpy.distutils; trying from distutils
    customize MSVCCompiler
      libraries lapack_atlas not found in C:\Users\894524\.conda\envs\ML\lib
    No module named 'numpy.distutils._msvccompiler' in numpy.distutils; trying from distutils
    customize MSVCCompiler
      libraries tatlas,tatlas not found in C:\Users\894524\.conda\envs\ML\lib
    No module named 'numpy.distutils._msvccompiler' in numpy.distutils; trying from distutils
    customize MSVCCompiler
      libraries lapack_atlas not found in C:\
    No module named 'numpy.distutils._msvccompiler' in numpy.distutils; trying from distutils
    customize MSVCCompiler
      libraries tatlas,tatlas not found in C:\
    No module named 'numpy.distutils._msvccompiler' in numpy.distutils; trying from distutils
    customize MSVCCompiler
      libraries lapack_atlas not found in C:\Users\894524\.conda\envs\ML\libs
    No module named 'numpy.distutils._msvccompiler' in numpy.distutils; trying from distutils
    customize MSVCCompiler
      libraries tatlas,tatlas not found in C:\Users\894524\.conda\envs\ML\libs
    No module named 'numpy.distutils._msvccompiler' in numpy.distutils; trying from distutils
    customize MSVCCompiler
      libraries lapack_atlas not found in C:\ProgramData\Anaconda3\Library\lib
    No module named 'numpy.distutils._msvccompiler' in numpy.distutils; trying from distutils
    customize MSVCCompiler
      libraries tatlas,tatlas not found in C:\ProgramData\Anaconda3\Library\lib
    <class 'numpy.distutils.system_info.atlas_3_10_threads_info'>
      NOT AVAILABLE

    atlas_3_10_info:
    No module named 'numpy.distutils._msvccompiler' in numpy.distutils; trying from distutils
    customize MSVCCompiler
      libraries lapack_atlas not found in C:\Users\894524\.conda\envs\ML\lib
    No module named 'numpy.distutils._msvccompiler' in numpy.distutils; trying from distutils
    customize MSVCCompiler
      libraries satlas,satlas not found in C:\Users\894524\.conda\envs\ML\lib
    No module named 'numpy.distutils._msvccompiler' in numpy.distutils; trying from distutils
    customize MSVCCompiler
      libraries lapack_atlas not found in C:\
    No module named 'numpy.distutils._msvccompiler' in numpy.distutils; trying from distutils
    customize MSVCCompiler
      libraries satlas,satlas not found in C:\
    No module named 'numpy.distutils._msvccompiler' in numpy.distutils; trying from distutils
    customize MSVCCompiler
      libraries lapack_atlas not found in C:\Users\894524\.conda\envs\ML\libs
    No module named 'numpy.distutils._msvccompiler' in numpy.distutils; trying from distutils
    customize MSVCCompiler
      libraries satlas,satlas not found in C:\Users\894524\.conda\envs\ML\libs
    No module named 'numpy.distutils._msvccompiler' in numpy.distutils; trying from distutils
    customize MSVCCompiler
      libraries lapack_atlas not found in C:\ProgramData\Anaconda3\Library\lib
    No module named 'numpy.distutils._msvccompiler' in numpy.distutils; trying from distutils
    customize MSVCCompiler
      libraries satlas,satlas not found in C:\ProgramData\Anaconda3\Library\lib
    <class 'numpy.distutils.system_info.atlas_3_10_info'>
      NOT AVAILABLE

    atlas_threads_info:
    Setting PTATLAS=ATLAS
    No module named 'numpy.distutils._msvccompiler' in numpy.distutils; trying from distutils
    customize MSVCCompiler
      libraries lapack_atlas not found in C:\Users\894524\.conda\envs\ML\lib
    No module named 'numpy.distutils._msvccompiler' in numpy.distutils; trying from distutils
    customize MSVCCompiler
      libraries ptf77blas,ptcblas,atlas not found in C:\Users\894524\.conda\envs\ML\lib
    No module named 'numpy.distutils._msvccompiler' in numpy.distutils; trying from distutils
    customize MSVCCompiler
      libraries lapack_atlas not found in C:\
    No module named 'numpy.distutils._msvccompiler' in numpy.distutils; trying from distutils
    customize MSVCCompiler
      libraries ptf77blas,ptcblas,atlas not found in C:\
    No module named 'numpy.distutils._msvccompiler' in numpy.distutils; trying from distutils
    customize MSVCCompiler
      libraries lapack_atlas not found in C:\Users\894524\.conda\envs\ML\libs
    No module named 'numpy.distutils._msvccompiler' in numpy.distutils; trying from distutils
    customize MSVCCompiler
      libraries ptf77blas,ptcblas,atlas not found in C:\Users\894524\.conda\envs\ML\libs
    No module named 'numpy.distutils._msvccompiler' in numpy.distutils; trying from distutils
    customize MSVCCompiler
      libraries lapack_atlas not found in C:\ProgramData\Anaconda3\Library\lib
    No module named 'numpy.distutils._msvccompiler' in numpy.distutils; trying from distutils
    customize MSVCCompiler
      libraries ptf77blas,ptcblas,atlas not found in C:\ProgramData\Anaconda3\Library\lib
    <class 'numpy.distutils.system_info.atlas_threads_info'>
      NOT AVAILABLE

    atlas_info:
    No module named 'numpy.distutils._msvccompiler' in numpy.distutils; trying from distutils
    customize MSVCCompiler
      libraries lapack_atlas not found in C:\Users\894524\.conda\envs\ML\lib
    No module named 'numpy.distutils._msvccompiler' in numpy.distutils; trying from distutils
    customize MSVCCompiler
      libraries f77blas,cblas,atlas not found in C:\Users\894524\.conda\envs\ML\lib
    No module named 'numpy.distutils._msvccompiler' in numpy.distutils; trying from distutils
    customize MSVCCompiler
      libraries lapack_atlas not found in C:\
    No module named 'numpy.distutils._msvccompiler' in numpy.distutils; trying from distutils
    customize MSVCCompiler
      libraries f77blas,cblas,atlas not found in C:\
    No module named 'numpy.distutils._msvccompiler' in numpy.distutils; trying from distutils
    customize MSVCCompiler
      libraries lapack_atlas not found in C:\Users\894524\.conda\envs\ML\libs
    No module named 'numpy.distutils._msvccompiler' in numpy.distutils; trying from distutils
    customize MSVCCompiler
      libraries f77blas,cblas,atlas not found in C:\Users\894524\.conda\envs\ML\libs
    No module named 'numpy.distutils._msvccompiler' in numpy.distutils; trying from distutils
    customize MSVCCompiler
      libraries lapack_atlas not found in C:\ProgramData\Anaconda3\Library\lib
    No module named 'numpy.distutils._msvccompiler' in numpy.distutils; trying from distutils
    customize MSVCCompiler
      libraries f77blas,cblas,atlas not found in C:\ProgramData\Anaconda3\Library\lib
    <class 'numpy.distutils.system_info.atlas_info'>
      NOT AVAILABLE

    lapack_info:
    No module named 'numpy.distutils._msvccompiler' in numpy.distutils; trying from distutils
    customize MSVCCompiler
      libraries lapack not found in ['C:\\Users\\894524\\.conda\\envs\\ML\\lib', 'C:\\', 'C:\\Users\\894524\\.conda\\envs\\ML\\libs', 'C:\\ProgramData\\Anaconda3\\Library\\lib']
      NOT AVAILABLE

    C:\Users\894524\AppData\Local\Temp\pip-install-z74snxm0\numpy_fb7c0041a60c4d359a385537a188861c\numpy\distutils\system_info.py:1712: UserWarning:
        Lapack (http://www.netlib.org/lapack/) libraries not found.
        Directories to search for the libraries can be specified in the
        numpy/distutils/site.cfg file (section [lapack]) or by setting
        the LAPACK environment variable.
      if getattr(self, '_calc_info_{}'.format(lapack))():
    lapack_src_info:
      NOT AVAILABLE

    C:\Users\894524\AppData\Local\Temp\pip-install-z74snxm0\numpy_fb7c0041a60c4d359a385537a188861c\numpy\distutils\system_info.py:1712: UserWarning:
        Lapack (http://www.netlib.org/lapack/) sources not found.
        Directories to search for the sources can be specified in the
        numpy/distutils/site.cfg file (section [lapack_src]) or by setting
        the LAPACK_SRC environment variable.
      if getattr(self, '_calc_info_{}'.format(lapack))():
      NOT AVAILABLE

    C:\Users\894524\.conda\envs\ML\lib\distutils\dist.py:274: UserWarning: Unknown distribution option: 'define_macros'
      warnings.warn(msg)
    running bdist_wheel
    running build
    running config_cc
    unifing config_cc, config, build_clib, build_ext, build commands --compiler options
    running config_fc
    unifing config_fc, config, build_clib, build_ext, build commands --fcompiler options
    running build_src
    build_src
    building py_modules sources
    creating build
    creating build\src.win-amd64-3.9
    creating build\src.win-amd64-3.9\numpy
    creating build\src.win-amd64-3.9\numpy\distutils
    building library "npymath" sources
    No module named 'numpy.distutils._msvccompiler' in numpy.distutils; trying from distutils
    error: Microsoft Visual C++ 14.0 or greater is required. Get it with "Microsoft C++ Build Tools": https://visualstudio.microsoft.com/visual-cpp-build-tools/
    ----------------------------------------
    ERROR: Failed building wheel for numpy
    Running setup.py clean for numpy
    ERROR: Command errored out with exit status 1:
     command: 'C:\Users\894524\.conda\envs\ML\python.exe' -u -c 'import io, os, sys, setuptools, tokenize; sys.argv[0] = '"'"'C:\\Users\\894524\\AppData\\Local\\Temp\\pip-install-z74snxm0\\numpy_fb7c0041a60c4d359a385537a188861c\\setup.py'"'"'; __file__='"'"'C:\\Users\\894524\\AppData\\Local\\Temp\\pip-install-z74snxm0\\numpy_fb7c0041a60c4d359a385537a188861c\\setup.py'"'"';f = getattr(tokenize, '"'"'open'"'"', open)(__file__) if os.path.exists(__file__) else io.StringIO('"'"'from setuptools import setup; setup()'"'"');code = f.read().replace('"'"'\r\n'"'"', '"'"'\n'"'"');f.close();exec(compile(code, __file__, '"'"'exec'"'"'))' clean --all
         cwd: C:\Users\894524\AppData\Local\Temp\pip-install-z74snxm0\numpy_fb7c0041a60c4d359a385537a188861c
    Complete output (10 lines):
    Running from numpy source directory.

    `setup.py clean` is not supported, use one of the following instead:

      - `git clean -xdf` (cleans all files)
      - `git clean -Xdf` (cleans all versioned files, doesn't touch
                          files that aren't checked into the git repo)

    Add `--force` to your command to use it anyway if you must (unsupported).

    ----------------------------------------
    ERROR: Failed cleaning build dir for numpy
  Failed to build numpy
  Installing collected packages: wheel, setuptools, numpy
      Running setup.py install for numpy: started
      Running setup.py install for numpy: finished with status 'error'
      ERROR: Command errored out with exit status 1:
       command: 'C:\Users\894524\.conda\envs\ML\python.exe' -u -c 'import io, os, sys, setuptools, tokenize; sys.argv[0] = '"'"'C:\\Users\\894524\\AppData\\Local\\Temp\\pip-install-z74snxm0\\numpy_fb7c0041a60c4d359a385537a188861c\\setup.py'"'"'; __file__='"'"'C:\\Users\\894524\\AppData\\Local\\Temp\\pip-install-z74snxm0\\numpy_fb7c0041a60c4d359a385537a188861c\\setup.py'"'"';f = getattr(tokenize, '"'"'open'"'"', open)(__file__) if os.path.exists(__file__) else io.StringIO('"'"'from setuptools import setup; setup()'"'"');code = f.read().replace('"'"'\r\n'"'"', '"'"'\n'"'"');f.close();exec(compile(code, __file__, '"'"'exec'"'"'))' install --record 'C:\Users\894524\AppData\Local\Temp\pip-record-h8_ig39e\install-record.txt' --single-version-externally-managed --prefix 'C:\Users\894524\AppData\Local\Temp\pip-build-env-dfq63ilx\overlay' --compile --install-headers 'C:\Users\894524\AppData\Local\Temp\pip-build-env-dfq63ilx\overlay\Include\numpy'
           cwd: C:\Users\894524\AppData\Local\Temp\pip-install-z74snxm0\numpy_fb7c0041a60c4d359a385537a188861c\
      Complete output (297 lines):
      Running from numpy source directory.

      Note: if you need reliable uninstall behavior, then install
      with pip instead of using `setup.py install`:

        - `pip install .`       (from a git repo or downloaded source
                                 release)
        - `pip install numpy`   (last NumPy release on PyPi)


      blas_opt_info:
      blas_mkl_info:
      No module named 'numpy.distutils._msvccompiler' in numpy.distutils; trying from distutils
      customize MSVCCompiler
        libraries mkl_rt not found in ['C:\\Users\\894524\\.conda\\envs\\ML\\lib', 'C:\\', 'C:\\Users\\894524\\.conda\\envs\\ML\\libs', 'C:\\ProgramData\\Anaconda3\\Library\\lib']
        NOT AVAILABLE

      blis_info:
      No module named 'numpy.distutils._msvccompiler' in numpy.distutils; trying from distutils
      customize MSVCCompiler
        libraries blis not found in ['C:\\Users\\894524\\.conda\\envs\\ML\\lib', 'C:\\', 'C:\\Users\\894524\\.conda\\envs\\ML\\libs', 'C:\\ProgramData\\Anaconda3\\Library\\lib']
        NOT AVAILABLE

      openblas_info:
      No module named 'numpy.distutils._msvccompiler' in numpy.distutils; trying from distutils
      customize MSVCCompiler
      No module named 'numpy.distutils._msvccompiler' in numpy.distutils; trying from distutils
      customize MSVCCompiler
        libraries openblas not found in ['C:\\Users\\894524\\.conda\\envs\\ML\\lib', 'C:\\', 'C:\\Users\\894524\\.conda\\envs\\ML\\libs', 'C:\\ProgramData\\Anaconda3\\Library\\lib']
      get_default_fcompiler: matching types: '['gnu', 'intelv', 'absoft', 'compaqv', 'intelev', 'gnu95', 'g95', 'intelvem', 'intelem', 'flang']'
      customize GnuFCompiler
      Could not locate executable g77
      Could not locate executable f77
      customize IntelVisualFCompiler
      Could not locate executable ifort
      Could not locate executable ifl
      customize AbsoftFCompiler
      Could not locate executable f90
      customize CompaqVisualFCompiler
      Could not locate executable DF
      customize IntelItaniumVisualFCompiler
      Could not locate executable efl
      customize Gnu95FCompiler
      Could not locate executable gfortran
      Could not locate executable f95
      customize G95FCompiler
      Could not locate executable g95
      customize IntelEM64VisualFCompiler
      customize IntelEM64TFCompiler
      Could not locate executable efort
      Could not locate executable efc
      customize PGroupFlangCompiler
      Could not locate executable flang
      don't know how to compile Fortran code on platform 'nt'
        NOT AVAILABLE

      atlas_3_10_blas_threads_info:
      Setting PTATLAS=ATLAS
      No module named 'numpy.distutils._msvccompiler' in numpy.distutils; trying from distutils
      customize MSVCCompiler
        libraries tatlas not found in ['C:\\Users\\894524\\.conda\\envs\\ML\\lib', 'C:\\', 'C:\\Users\\894524\\.conda\\envs\\ML\\libs', 'C:\\ProgramData\\Anaconda3\\Library\\lib']
        NOT AVAILABLE

      atlas_3_10_blas_info:
      No module named 'numpy.distutils._msvccompiler' in numpy.distutils; trying from distutils
      customize MSVCCompiler
        libraries satlas not found in ['C:\\Users\\894524\\.conda\\envs\\ML\\lib', 'C:\\', 'C:\\Users\\894524\\.conda\\envs\\ML\\libs', 'C:\\ProgramData\\Anaconda3\\Library\\lib']
        NOT AVAILABLE

      atlas_blas_threads_info:
      Setting PTATLAS=ATLAS
      No module named 'numpy.distutils._msvccompiler' in numpy.distutils; trying from distutils
      customize MSVCCompiler
        libraries ptf77blas,ptcblas,atlas not found in ['C:\\Users\\894524\\.conda\\envs\\ML\\lib', 'C:\\', 'C:\\Users\\894524\\.conda\\envs\\ML\\libs', 'C:\\ProgramData\\Anaconda3\\Library\\lib']
        NOT AVAILABLE

      atlas_blas_info:
      No module named 'numpy.distutils._msvccompiler' in numpy.distutils; trying from distutils
      customize MSVCCompiler
        libraries f77blas,cblas,atlas not found in ['C:\\Users\\894524\\.conda\\envs\\ML\\lib', 'C:\\', 'C:\\Users\\894524\\.conda\\envs\\ML\\libs', 'C:\\ProgramData\\Anaconda3\\Library\\lib']
        NOT AVAILABLE

      accelerate_info:
        NOT AVAILABLE

      C:\Users\894524\AppData\Local\Temp\pip-install-z74snxm0\numpy_fb7c0041a60c4d359a385537a188861c\numpy\distutils\system_info.py:690: UserWarning:
          Optimized (vendor) Blas libraries are not found.
          Falls back to netlib Blas library which has worse performance.
          A better performance should be easily gained by switching
          Blas library.
        self.calc_info()
      blas_info:
      No module named 'numpy.distutils._msvccompiler' in numpy.distutils; trying from distutils
      customize MSVCCompiler
        libraries blas not found in ['C:\\Users\\894524\\.conda\\envs\\ML\\lib', 'C:\\', 'C:\\Users\\894524\\.conda\\envs\\ML\\libs', 'C:\\ProgramData\\Anaconda3\\Library\\lib']
        NOT AVAILABLE

      C:\Users\894524\AppData\Local\Temp\pip-install-z74snxm0\numpy_fb7c0041a60c4d359a385537a188861c\numpy\distutils\system_info.py:690: UserWarning:
          Blas (http://www.netlib.org/blas/) libraries not found.
          Directories to search for the libraries can be specified in the
          numpy/distutils/site.cfg file (section [blas]) or by setting
          the BLAS environment variable.
        self.calc_info()
      blas_src_info:
        NOT AVAILABLE

      C:\Users\894524\AppData\Local\Temp\pip-install-z74snxm0\numpy_fb7c0041a60c4d359a385537a188861c\numpy\distutils\system_info.py:690: UserWarning:
          Blas (http://www.netlib.org/blas/) sources not found.
          Directories to search for the sources can be specified in the
          numpy/distutils/site.cfg file (section [blas_src]) or by setting
          the BLAS_SRC environment variable.
        self.calc_info()
        NOT AVAILABLE

      'svnversion' is not recognized as an internal or external command,
      operable program or batch file.
      non-existing path in 'numpy\\distutils': 'site.cfg'
      lapack_opt_info:
      lapack_mkl_info:
      No module named 'numpy.distutils._msvccompiler' in numpy.distutils; trying from distutils
      customize MSVCCompiler
        libraries mkl_rt not found in ['C:\\Users\\894524\\.conda\\envs\\ML\\lib', 'C:\\', 'C:\\Users\\894524\\.conda\\envs\\ML\\libs', 'C:\\ProgramData\\Anaconda3\\Library\\lib']
        NOT AVAILABLE

      openblas_lapack_info:
      No module named 'numpy.distutils._msvccompiler' in numpy.distutils; trying from distutils
      customize MSVCCompiler
      No module named 'numpy.distutils._msvccompiler' in numpy.distutils; trying from distutils
      customize MSVCCompiler
        libraries openblas not found in ['C:\\Users\\894524\\.conda\\envs\\ML\\lib', 'C:\\', 'C:\\Users\\894524\\.conda\\envs\\ML\\libs', 'C:\\ProgramData\\Anaconda3\\Library\\lib']
        NOT AVAILABLE

      openblas_clapack_info:
      No module named 'numpy.distutils._msvccompiler' in numpy.distutils; trying from distutils
      customize MSVCCompiler
      No module named 'numpy.distutils._msvccompiler' in numpy.distutils; trying from distutils
      customize MSVCCompiler
        libraries openblas,lapack not found in ['C:\\Users\\894524\\.conda\\envs\\ML\\lib', 'C:\\', 'C:\\Users\\894524\\.conda\\envs\\ML\\libs', 'C:\\ProgramData\\Anaconda3\\Library\\lib']
        NOT AVAILABLE

      flame_info:
      No module named 'numpy.distutils._msvccompiler' in numpy.distutils; trying from distutils
      customize MSVCCompiler
        libraries flame not found in ['C:\\Users\\894524\\.conda\\envs\\ML\\lib', 'C:\\', 'C:\\Users\\894524\\.conda\\envs\\ML\\libs', 'C:\\ProgramData\\Anaconda3\\Library\\lib']
        NOT AVAILABLE

      atlas_3_10_threads_info:
      Setting PTATLAS=ATLAS
      No module named 'numpy.distutils._msvccompiler' in numpy.distutils; trying from distutils
      customize MSVCCompiler
        libraries lapack_atlas not found in C:\Users\894524\.conda\envs\ML\lib
      No module named 'numpy.distutils._msvccompiler' in numpy.distutils; trying from distutils
      customize MSVCCompiler
        libraries tatlas,tatlas not found in C:\Users\894524\.conda\envs\ML\lib
      No module named 'numpy.distutils._msvccompiler' in numpy.distutils; trying from distutils
      customize MSVCCompiler

      <class 'numpy.distutils.system_info.atlas_3_10_threads_info'>
        NOT AVAILABLE

      atlas_3_10_info:
      No module named 'numpy.distutils._msvccompiler' in numpy.distutils; trying from distutils
      customize MSVCCompiler
        libraries satlas,satlas not found in C:\Users\894524\.conda\envs\ML\lib
      No module named 'numpy.distutils._msvccompiler' in numpy.distutils; trying from distutils
      customize MSVCCompiler
        libraries lapack_atlas not found in C:\Users\894524\.conda\envs\ML\lib
      No module named 'numpy.distutils._msvccompiler' in numpy.distutils; trying from distutils
      customize MSVCCompiler
        libraries satlas,satlas not found in C:\
      No module named 'numpy.distutils._msvccompiler' in numpy.distutils; trying from distutils
      customize MSVCCompiler
        libraries lapack_atlas not found in C:\
      No module named 'numpy.distutils._msvccompiler' in numpy.distutils; trying from distutils
      customize MSVCCompiler
        libraries satlas,satlas not found in C:\Users\894524\.conda\envs\ML\libs
      No module named 'numpy.distutils._msvccompiler' in numpy.distutils; trying from distutils
      customize MSVCCompiler
        libraries lapack_atlas not found in C:\Users\894524\.conda\envs\ML\libs
      No module named 'numpy.distutils._msvccompiler' in numpy.distutils; trying from distutils
      customize MSVCCompiler
        libraries satlas,satlas not found in C:\ProgramData\Anaconda3\Library\lib
      No module named 'numpy.distutils._msvccompiler' in numpy.distutils; trying from distutils
      customize MSVCCompiler
        libraries lapack_atlas not found in C:\ProgramData\Anaconda3\Library\lib
      <class 'numpy.distutils.system_info.atlas_3_10_info'>
        NOT AVAILABLE

      atlas_threads_info:
      Setting PTATLAS=ATLAS
      No module named 'numpy.distutils._msvccompiler' in numpy.distutils; trying from distutils
      customize MSVCCompiler
        libraries ptf77blas,ptcblas,atlas not found in C:\Users\894524\.conda\envs\ML\lib
      No module named 'numpy.distutils._msvccompiler' in numpy.distutils; trying from distutils
      customize MSVCCompiler
        libraries lapack_atlas not found in C:\Users\894524\.conda\envs\ML\lib
      No module named 'numpy.distutils._msvccompiler' in numpy.distutils; trying from distutils
      customize MSVCCompiler
        libraries ptf77blas,ptcblas,atlas not found in C:\
      No module named 'numpy.distutils._msvccompiler' in numpy.distutils; trying from distutils
      customize MSVCCompiler
        libraries lapack_atlas not found in C:\
      No module named 'numpy.distutils._msvccompiler' in numpy.distutils; trying from distutils
      customize MSVCCompiler
        libraries ptf77blas,ptcblas,atlas not found in C:\Users\894524\.conda\envs\ML\libs
      No module named 'numpy.distutils._msvccompiler' in numpy.distutils; trying from distutils
      customize MSVCCompiler
        libraries lapack_atlas not found in C:\Users\894524\.conda\envs\ML\libs
      No module named 'numpy.distutils._msvccompiler' in numpy.distutils; trying from distutils
      customize MSVCCompiler
        libraries ptf77blas,ptcblas,atlas not found in C:\ProgramData\Anaconda3\Library\lib
      No module named 'numpy.distutils._msvccompiler' in numpy.distutils; trying from distutils
      customize MSVCCompiler
        libraries lapack_atlas not found in C:\ProgramData\Anaconda3\Library\lib
      <class 'numpy.distutils.system_info.atlas_threads_info'>
        NOT AVAILABLE

      atlas_info:
      No module named 'numpy.distutils._msvccompiler' in numpy.distutils; trying from distutils
      customize MSVCCompiler
        libraries f77blas,cblas,atlas not found in C:\Users\894524\.conda\envs\ML\lib
      No module named 'numpy.distutils._msvccompiler' in numpy.distutils; trying from distutils
      customize MSVCCompiler
        libraries lapack_atlas not found in C:\Users\894524\.conda\envs\ML\lib
      No module named 'numpy.distutils._msvccompiler' in numpy.distutils; trying from distutils
      customize MSVCCompiler
        libraries f77blas,cblas,atlas not found in C:\
      No module named 'numpy.distutils._msvccompiler' in numpy.distutils; trying from distutils
      customize MSVCCompiler
        libraries lapack_atlas not found in C:\
      No module named 'numpy.distutils._msvccompiler' in numpy.distutils; trying from distutils
      customize MSVCCompiler
        libraries f77blas,cblas,atlas not found in C:\Users\894524\.conda\envs\ML\libs
      No module named 'numpy.distutils._msvccompiler' in numpy.distutils; trying from distutils
      customize MSVCCompiler
        libraries lapack_atlas not found in C:\Users\894524\.conda\envs\ML\libs
      No module named 'numpy.distutils._msvccompiler' in numpy.distutils; trying from distutils
      customize MSVCCompiler
        libraries f77blas,cblas,atlas not found in C:\ProgramData\Anaconda3\Library\lib
      No module named 'numpy.distutils._msvccompiler' in numpy.distutils; trying from distutils
      customize MSVCCompiler
        libraries lapack_atlas not found in C:\ProgramData\Anaconda3\Library\lib
      <class 'numpy.distutils.system_info.atlas_info'>
        NOT AVAILABLE

      lapack_info:
      No module named 'numpy.distutils._msvccompiler' in numpy.distutils; trying from distutils
      customize MSVCCompiler
        libraries lapack not found in ['C:\\Users\\894524\\.conda\\envs\\ML\\lib', 'C:\\', 'C:\\Users\\894524\\.conda\\envs\\ML\\libs', 'C:\\ProgramData\\Anaconda3\\Library\\lib']
        NOT AVAILABLE

      C:\Users\894524\AppData\Local\Temp\pip-install-pebf1gps\numpy_0865d89aaa48465ea1ac01592ccfb02f\numpy\distutils\system_info.py:624: UserWarning:
          Lapack (http://www.netlib.org/lapack/) libraries not found.
          Directories to search for the libraries can be specified in the
          numpy/distutils/site.cfg file (section [lapack]) or by setting
          the LAPACK environment variable.
        self.calc_info()
      lapack_src_info:
        NOT AVAILABLE

      C:\Users\894524\AppData\Local\Temp\pip-install-pebf1gps\numpy_0865d89aaa48465ea1ac01592ccfb02f\numpy\distutils\system_info.py:624: UserWarning:
          Lapack (http://www.netlib.org/lapack/) sources not found.
          Directories to search for the sources can be specified in the
          numpy/distutils/site.cfg file (section [lapack_src]) or by setting
          the LAPACK_SRC environment variable.
        self.calc_info()
        NOT AVAILABLE

      C:\Users\894524\.conda\envs\ML\lib\distutils\dist.py:274: UserWarning: Unknown distribution option: 'define_macros'
        warnings.warn(msg)
      running install
      running build
      running config_cc
      unifing config_cc, config, build_clib, build_ext, build commands --compiler options
      running config_fc
      unifing config_fc, config, build_clib, build_ext, build commands --fcompiler options
      running build_src
      build_src
      building py_modules sources
      building library "npymath" sources
      No module named 'numpy.distutils._msvccompiler' in numpy.distutils; trying from distutils
      error: Microsoft Visual C++ 14.0 or greater is required. Get it with "Microsoft C++ Build Tools": https://visualstudio.microsoft.com/visual-cpp-build-tools/
      ----------------------------------------
  ERROR: Command errored out with exit status 1: 'C:\Users\894524\.conda\envs\ML\python.exe' -u -c 'import io, os, sys, setuptools, tokenize; sys.argv[0] = '"'"'C:\\Users\\894524\\AppData\\Local\\Temp\\pip-install-pebf1gps\\numpy_0865d89aaa48465ea1ac01592ccfb02f\\setup.py'"'"'; __file__='"'"'C:\\Users\\894524\\AppData\\Local\\Temp\\pip-install-pebf1gps\\numpy_0865d89aaa48465ea1ac01592ccfb02f\\setup.py'"'"';f = getattr(tokenize, '"'"'open'"'"', open)(__file__) if os.path.exists(__file__) else io.StringIO('"'"'from setuptools import setup; setup()'"'"');code = f.read().replace('"'"'\r\n'"'"', '"'"'\n'"'"');f.close();exec(compile(code, __file__, '"'"'exec'"'"'))' install --record 'C:\Users\894524\AppData\Local\Temp\pip-record-zjk0jkro\install-record.txt' --single-version-externally-managed --prefix 'C:\Users\894524\AppData\Local\Temp\pip-build-env-fy_76oy_\overlay' --compile --install-headers 'C:\Users\894524\AppData\Local\Temp\pip-build-env-fy_76oy_\overlay\Include\numpy' Check the logs for full command output.
  ----------------------------------------
WARNING: Discarding https://files.pythonhosted.org/packages/62/d0/55bbb49f4fade3497de2399af70ec0a06e432c786b8623c878b11e90d456/Bottleneck-1.3.1.tar.gz#sha256=451586370462cb623d6ad604a545d1e97fb51d2ab5252b1ac57350a83e494a28 (from https://pypi.org/simple/bottleneck/). Command errored out with exit status 1: 'C:\Users\894524\.conda\envs\ML\python.exe' 'C:\Users\894524\AppData\Local\Temp\pip-standalone-pip-1p9fnuf_\__env_pip__.zip\pip' install --ignore-installed --no-user --prefix 'C:\Users\894524\AppData\Local\Temp\pip-build-env-fy_76oy_\overlay' --no-warn-script-location --no-binary :none: --only-binary :none: -i https://pypi.org/simple -- setuptools wheel 'numpy==1.13.3; python_version=='"'"'2.7'"'"' and platform_system!='"'"'AIX'"'"'' 'numpy==1.13.3; python_version=='"'"'3.5'"'"' and platform_system!='"'"'AIX'"'"'' 'numpy==1.13.3; python_version=='"'"'3.6'"'"' and platform_system!='"'"'AIX'"'"'' 'numpy==1.14.5; python_version>='"'"'3.7'"'"' and platform_system!='"'"'AIX'"'"'' 'numpy==1.16.0; python_version=='"'"'2.7'"'"' and platform_system=='"'"'AIX'"'"'' 'numpy==1.16.0; python_version=='"'"'3.5'"'"' and platform_system=='"'"'AIX'"'"'' 'numpy==1.16.0; python_version=='"'"'3.6'"'"' and platform_system=='"'"'AIX'"'"'' 'numpy==1.16.0; python_version>='"'"'3.7'"'"' and platform_system=='"'"'AIX'"'"'' Check the logs for full command output.
  ERROR: Command errored out with exit status 1:
   command: 'C:\Users\894524\.conda\envs\ML\python.exe' 'C:\Users\894524\AppData\Local\Temp\pip-standalone-pip-73f8ok6d\__env_pip__.zip\pip' install --ignore-installed --no-user --prefix 'C:\Users\894524\AppData\Local\Temp\pip-build-env-x9j_1hq9\overlay' --no-warn-script-location --no-binary :none: --only-binary :none: -i https://pypi.org/simple -- setuptools wheel 'numpy==1.13.3; python_version=='"'"'2.7'"'"' and platform_system!='"'"'AIX'"'"'' 'numpy==1.13.3; python_version=='"'"'3.5'"'"' and platform_system!='"'"'AIX'"'"'' 'numpy==1.13.3; python_version=='"'"'3.6'"'"' and platform_system!='"'"'AIX'"'"'' 'numpy==1.14.5; python_version>='"'"'3.7'"'"' and platform_system!='"'"'AIX'"'"'' 'numpy==1.16.0; python_version=='"'"'2.7'"'"' and platform_system=='"'"'AIX'"'"'' 'numpy==1.16.0; python_version=='"'"'3.5'"'"' and platform_system=='"'"'AIX'"'"'' 'numpy==1.16.0; python_version=='"'"'3.6'"'"' and platform_system=='"'"'AIX'"'"'' 'numpy==1.16.0; python_version>='"'"'3.7'"'"' and platform_system=='"'"'AIX'"'"''
       cwd: None
  Complete output (628 lines):
  Ignoring numpy: markers 'python_version == "2.7" and platform_system != "AIX"' don't match your environment
  Ignoring numpy: markers 'python_version == "3.5" and platform_system != "AIX"' don't match your environment
  Ignoring numpy: markers 'python_version == "3.6" and platform_system != "AIX"' don't match your environment
  Ignoring numpy: markers 'python_version == "2.7" and platform_system == "AIX"' don't match your environment
  Ignoring numpy: markers 'python_version == "3.5" and platform_system == "AIX"' don't match your environment
  Ignoring numpy: markers 'python_version == "3.6" and platform_system == "AIX"' don't match your environment
  Ignoring numpy: markers 'python_version >= "3.7" and platform_system == "AIX"' don't match your environment
  Collecting setuptools
    Using cached setuptools-58.0.4-py3-none-any.whl (816 kB)
  Collecting wheel
    Using cached wheel-0.37.0-py2.py3-none-any.whl (35 kB)
  Collecting numpy==1.14.5
    Using cached numpy-1.14.5.zip (4.9 MB)
  Building wheels for collected packages: numpy
    Building wheel for numpy (setup.py): started
    Building wheel for numpy (setup.py): finished with status 'error'
    ERROR: Command errored out with exit status 1:
     command: 'C:\Users\894524\.conda\envs\ML\python.exe' -u -c 'import io, os, sys, setuptools, tokenize; sys.argv[0] = '"'"'C:\\Users\\894524\\AppData\\Local\\Temp\\pip-install-cqhank64\\numpy_8e80872b5ae64038bec5e5cb730732f3\\setup.py'"'"'; __file__='"'"'C:\\Users\\894524\\AppData\\Local\\Temp\\pip-install-cqhank64\\numpy_8e80872b5ae64038bec5e5cb730732f3\\setup.py'"'"';f = getattr(tokenize, '"'"'open'"'"', open)(__file__) if os.path.exists(__file__) else io.StringIO('"'"'from setuptools import setup; setup()'"'"');code = f.read().replace('"'"'\r\n'"'"', '"'"'\n'"'"');f.close();exec(compile(code, __file__, '"'"'exec'"'"'))' bdist_wheel -d 'C:\Users\894524\AppData\Local\Temp\pip-wheel-a358b05s'
         cwd: C:\Users\894524\AppData\Local\Temp\pip-install-cqhank64\numpy_8e80872b5ae64038bec5e5cb730732f3\
    Complete output (288 lines):
    Running from numpy source directory.
    C:\Users\894524\AppData\Local\Temp\pip-install-cqhank64\numpy_8e80872b5ae64038bec5e5cb730732f3\numpy\distutils\misc_util.py:464: SyntaxWarning: "is" with a literal. Did you mean "=="?
      return is_string(s) and ('*' in s or '?' is s)
    blas_opt_info:
    blas_mkl_info:
    No module named 'numpy.distutils._msvccompiler' in numpy.distutils; trying from distutils
    customize MSVCCompiler
      libraries mkl_rt not found in ['C:\\Users\\894524\\.conda\\envs\\ML\\lib', 'C:\\', 'C:\\Users\\894524\\.conda\\envs\\ML\\libs', 'C:\\ProgramData\\Anaconda3\\Library\\lib']
      NOT AVAILABLE

    blis_info:
    No module named 'numpy.distutils._msvccompiler' in numpy.distutils; trying from distutils
    customize MSVCCompiler
      libraries blis not found in ['C:\\Users\\894524\\.conda\\envs\\ML\\lib', 'C:\\', 'C:\\Users\\894524\\.conda\\envs\\ML\\libs', 'C:\\ProgramData\\Anaconda3\\Library\\lib']
      NOT AVAILABLE

    openblas_info:
    No module named 'numpy.distutils._msvccompiler' in numpy.distutils; trying from distutils
    customize MSVCCompiler
    No module named 'numpy.distutils._msvccompiler' in numpy.distutils; trying from distutils
    customize MSVCCompiler
      libraries openblas not found in ['C:\\Users\\894524\\.conda\\envs\\ML\\lib', 'C:\\', 'C:\\Users\\894524\\.conda\\envs\\ML\\libs', 'C:\\ProgramData\\Anaconda3\\Library\\lib']
    get_default_fcompiler: matching types: '['gnu', 'intelv', 'absoft', 'compaqv', 'intelev', 'gnu95', 'g95', 'intelvem', 'intelem', 'flang']'
    customize GnuFCompiler
    Could not locate executable g77
    Could not locate executable f77
    customize IntelVisualFCompiler
    Could not locate executable ifort
    Could not locate executable ifl
    customize AbsoftFCompiler
    Could not locate executable f90
    customize CompaqVisualFCompiler
    Could not locate executable DF
    customize IntelItaniumVisualFCompiler
    Could not locate executable efl
    customize Gnu95FCompiler
    Could not locate executable gfortran
    Could not locate executable f95
    customize G95FCompiler
    Could not locate executable g95
    customize IntelEM64VisualFCompiler
    customize IntelEM64TFCompiler
    Could not locate executable efort
    Could not locate executable efc
    customize PGroupFlangCompiler
    Could not locate executable flang
    don't know how to compile Fortran code on platform 'nt'
      NOT AVAILABLE

    atlas_3_10_blas_threads_info:
    Setting PTATLAS=ATLAS
    No module named 'numpy.distutils._msvccompiler' in numpy.distutils; trying from distutils
    customize MSVCCompiler
      libraries tatlas not found in ['C:\\Users\\894524\\.conda\\envs\\ML\\lib', 'C:\\', 'C:\\Users\\894524\\.conda\\envs\\ML\\libs', 'C:\\ProgramData\\Anaconda3\\Library\\lib']
      NOT AVAILABLE

    atlas_3_10_blas_info:
    No module named 'numpy.distutils._msvccompiler' in numpy.distutils; trying from distutils
    customize MSVCCompiler
      libraries satlas not found in ['C:\\Users\\894524\\.conda\\envs\\ML\\lib', 'C:\\', 'C:\\Users\\894524\\.conda\\envs\\ML\\libs', 'C:\\ProgramData\\Anaconda3\\Library\\lib']
      NOT AVAILABLE

    atlas_blas_threads_info:
    Setting PTATLAS=ATLAS
    No module named 'numpy.distutils._msvccompiler' in numpy.distutils; trying from distutils
    customize MSVCCompiler
      libraries ptf77blas,ptcblas,atlas not found in ['C:\\Users\\894524\\.conda\\envs\\ML\\lib', 'C:\\', 'C:\\Users\\894524\\.conda\\envs\\ML\\libs', 'C:\\ProgramData\\Anaconda3\\Library\\lib']
      NOT AVAILABLE

    atlas_blas_info:
    No module named 'numpy.distutils._msvccompiler' in numpy.distutils; trying from distutils
    customize MSVCCompiler
      libraries f77blas,cblas,atlas not found in ['C:\\Users\\894524\\.conda\\envs\\ML\\lib', 'C:\\', 'C:\\Users\\894524\\.conda\\envs\\ML\\libs', 'C:\\ProgramData\\Anaconda3\\Library\\lib']
      NOT AVAILABLE

    C:\Users\894524\AppData\Local\Temp\pip-install-cqhank64\numpy_8e80872b5ae64038bec5e5cb730732f3\numpy\distutils\system_info.py:624: UserWarning:
        Atlas (http://math-atlas.sourceforge.net/) libraries not found.
        Directories to search for the libraries can be specified in the
        numpy/distutils/site.cfg file (section [atlas]) or by setting
        the ATLAS environment variable.
      self.calc_info()
    blas_info:
    No module named 'numpy.distutils._msvccompiler' in numpy.distutils; trying from distutils
    customize MSVCCompiler
      libraries blas not found in ['C:\\Users\\894524\\.conda\\envs\\ML\\lib', 'C:\\', 'C:\\Users\\894524\\.conda\\envs\\ML\\libs', 'C:\\ProgramData\\Anaconda3\\Library\\lib']
      NOT AVAILABLE

    C:\Users\894524\AppData\Local\Temp\pip-install-cqhank64\numpy_8e80872b5ae64038bec5e5cb730732f3\numpy\distutils\system_info.py:624: UserWarning:
        Blas (http://www.netlib.org/blas/) libraries not found.
        Directories to search for the libraries can be specified in the
        numpy/distutils/site.cfg file (section [blas]) or by setting
        the BLAS environment variable.
      self.calc_info()
    blas_src_info:
      NOT AVAILABLE

    C:\Users\894524\AppData\Local\Temp\pip-install-cqhank64\numpy_8e80872b5ae64038bec5e5cb730732f3\numpy\distutils\system_info.py:624: UserWarning:
        Blas (http://www.netlib.org/blas/) sources not found.
        Directories to search for the sources can be specified in the
        numpy/distutils/site.cfg file (section [blas_src]) or by setting
        the BLAS_SRC environment variable.
      self.calc_info()
      NOT AVAILABLE

    'svnversion' is not recognized as an internal or external command,
    operable program or batch file.
    'svnversion' is not recognized as an internal or external command,
    operable program or batch file.
    non-existing path in 'numpy\\distutils': 'site.cfg'
    F2PY Version 2
    lapack_opt_info:
    lapack_mkl_info:
    No module named 'numpy.distutils._msvccompiler' in numpy.distutils; trying from distutils
    customize MSVCCompiler

      libraries mkl_rt not found in ['C:\\Users\\894524\\.conda\\envs\\ML\\lib', 'C:\\', 'C:\\Users\\894524\\.conda\\envs\\ML\\libs', 'C:\\ProgramData\\Anaconda3\\Library\\lib']
      NOT AVAILABLE

    openblas_lapack_info:
    No module named 'numpy.distutils._msvccompiler' in numpy.distutils; trying from distutils
    customize MSVCCompiler
    No module named 'numpy.distutils._msvccompiler' in numpy.distutils; trying from distutils
    customize MSVCCompiler
      libraries openblas not found in ['C:\\Users\\894524\\.conda\\envs\\ML\\lib', 'C:\\', 'C:\\Users\\894524\\.conda\\envs\\ML\\libs', 'C:\\ProgramData\\Anaconda3\\Library\\lib']
      NOT AVAILABLE

    openblas_clapack_info:
    No module named 'numpy.distutils._msvccompiler' in numpy.distutils; trying from distutils
    customize MSVCCompiler
    No module named 'numpy.distutils._msvccompiler' in numpy.distutils; trying from distutils
    customize MSVCCompiler
      libraries openblas,lapack not found in ['C:\\Users\\894524\\.conda\\envs\\ML\\lib', 'C:\\', 'C:\\Users\\894524\\.conda\\envs\\ML\\libs', 'C:\\ProgramData\\Anaconda3\\Library\\lib']
      NOT AVAILABLE

    atlas_3_10_threads_info:
    Setting PTATLAS=ATLAS
    No module named 'numpy.distutils._msvccompiler' in numpy.distutils; trying from distutils
    customize MSVCCompiler
      libraries tatlas,tatlas not found in C:\Users\894524\.conda\envs\ML\lib
    No module named 'numpy.distutils._msvccompiler' in numpy.distutils; trying from distutils
    customize MSVCCompiler
      libraries lapack_atlas not found in C:\Users\894524\.conda\envs\ML\lib
    No module named 'numpy.distutils._msvccompiler' in numpy.distutils; trying from distutils
    customize MSVCCompiler
      libraries tatlas,tatlas not found in C:\
    No module named 'numpy.distutils._msvccompiler' in numpy.distutils; trying from distutils
    customize MSVCCompiler
      libraries lapack_atlas not found in C:\
    No module named 'numpy.distutils._msvccompiler' in numpy.distutils; trying from distutils
    customize MSVCCompiler
      libraries tatlas,tatlas not found in C:\Users\894524\.conda\envs\ML\libs
    No module named 'numpy.distutils._msvccompiler' in numpy.distutils; trying from distutils
    customize MSVCCompiler
      libraries lapack_atlas not found in C:\Users\894524\.conda\envs\ML\libs
    No module named 'numpy.distutils._msvccompiler' in numpy.distutils; trying from distutils
    customize MSVCCompiler
      libraries tatlas,tatlas not found in C:\ProgramData\Anaconda3\Library\lib
    No module named 'numpy.distutils._msvccompiler' in numpy.distutils; trying from distutils
    customize MSVCCompiler
      libraries lapack_atlas not found in C:\ProgramData\Anaconda3\Library\lib
    <class 'numpy.distutils.system_info.atlas_3_10_threads_info'>
      NOT AVAILABLE

    atlas_3_10_info:
    No module named 'numpy.distutils._msvccompiler' in numpy.distutils; trying from distutils
    customize MSVCCompiler
      libraries satlas,satlas not found in C:\Users\894524\.conda\envs\ML\lib
    No module named 'numpy.distutils._msvccompiler' in numpy.distutils; trying from distutils
    customize MSVCCompiler
      libraries lapack_atlas not found in C:\Users\894524\.conda\envs\ML\lib
    No module named 'numpy.distutils._msvccompiler' in numpy.distutils; trying from distutils
    customize MSVCCompiler
      libraries satlas,satlas not found in C:\
    No module named 'numpy.distutils._msvccompiler' in numpy.distutils; trying from distutils
    customize MSVCCompiler
      libraries lapack_atlas not found in C:\
    No module named 'numpy.distutils._msvccompiler' in numpy.distutils; trying from distutils
    customize MSVCCompiler
      libraries satlas,satlas not found in C:\Users\894524\.conda\envs\ML\libs
    No module named 'numpy.distutils._msvccompiler' in numpy.distutils; trying from distutils
    customize MSVCCompiler
      libraries lapack_atlas not found in C:\Users\894524\.conda\envs\ML\libs
    No module named 'numpy.distutils._msvccompiler' in numpy.distutils; trying from distutils
    customize MSVCCompiler
      libraries satlas,satlas not found in C:\ProgramData\Anaconda3\Library\lib
    No module named 'numpy.distutils._msvccompiler' in numpy.distutils; trying from distutils
    customize MSVCCompiler
      libraries lapack_atlas not found in C:\ProgramData\Anaconda3\Library\lib
    <class 'numpy.distutils.system_info.atlas_3_10_info'>
      NOT AVAILABLE

    atlas_threads_info:
    Setting PTATLAS=ATLAS
    No module named 'numpy.distutils._msvccompiler' in numpy.distutils; trying from distutils
    customize MSVCCompiler
      libraries ptf77blas,ptcblas,atlas not found in C:\Users\894524\.conda\envs\ML\lib
    No module named 'numpy.distutils._msvccompiler' in numpy.distutils; trying from distutils
    customize MSVCCompiler
      libraries lapack_atlas not found in C:\Users\894524\.conda\envs\ML\lib
    No module named 'numpy.distutils._msvccompiler' in numpy.distutils; trying from distutils
    customize MSVCCompiler
      libraries ptf77blas,ptcblas,atlas not found in C:\
    No module named 'numpy.distutils._msvccompiler' in numpy.distutils; trying from distutils
    customize MSVCCompiler
      libraries lapack_atlas not found in C:\
    No module named 'numpy.distutils._msvccompiler' in numpy.distutils; trying from distutils
    customize MSVCCompiler
      libraries ptf77blas,ptcblas,atlas not found in C:\Users\894524\.conda\envs\ML\libs
    No module named 'numpy.distutils._msvccompiler' in numpy.distutils; trying from distutils
    customize MSVCCompiler
      libraries lapack_atlas not found in C:\Users\894524\.conda\envs\ML\libs
    No module named 'numpy.distutils._msvccompiler' in numpy.distutils; trying from distutils
    customize MSVCCompiler
      libraries ptf77blas,ptcblas,atlas not found in C:\ProgramData\Anaconda3\Library\lib
    No module named 'numpy.distutils._msvccompiler' in numpy.distutils; trying from distutils
    customize MSVCCompiler
      libraries lapack_atlas not found in C:\ProgramData\Anaconda3\Library\lib
    <class 'numpy.distutils.system_info.atlas_threads_info'>
      NOT AVAILABLE

    atlas_info:
    No module named 'numpy.distutils._msvccompiler' in numpy.distutils; trying from distutils
    customize MSVCCompiler
      libraries f77blas,cblas,atlas not found in C:\Users\894524\.conda\envs\ML\lib
    No module named 'numpy.distutils._msvccompiler' in numpy.distutils; trying from distutils
    customize MSVCCompiler
      libraries lapack_atlas not found in C:\Users\894524\.conda\envs\ML\lib
    No module named 'numpy.distutils._msvccompiler' in numpy.distutils; trying from distutils
    customize MSVCCompiler
      libraries f77blas,cblas,atlas not found in C:\
    No module named 'numpy.distutils._msvccompiler' in numpy.distutils; trying from distutils
    customize MSVCCompiler
      libraries lapack_atlas not found in C:\
    No module named 'numpy.distutils._msvccompiler' in numpy.distutils; trying from distutils
    customize MSVCCompiler
      libraries f77blas,cblas,atlas not found in C:\Users\894524\.conda\envs\ML\libs
    No module named 'numpy.distutils._msvccompiler' in numpy.distutils; trying from distutils
    customize MSVCCompiler
      libraries lapack_atlas not found in C:\Users\894524\.conda\envs\ML\libs
    No module named 'numpy.distutils._msvccompiler' in numpy.distutils; trying from distutils
    customize MSVCCompiler
      libraries f77blas,cblas,atlas not found in C:\ProgramData\Anaconda3\Library\lib
    No module named 'numpy.distutils._msvccompiler' in numpy.distutils; trying from distutils
    customize MSVCCompiler
      libraries lapack_atlas not found in C:\ProgramData\Anaconda3\Library\lib
    <class 'numpy.distutils.system_info.atlas_info'>
      NOT AVAILABLE

    lapack_info:
    No module named 'numpy.distutils._msvccompiler' in numpy.distutils; trying from distutils
    customize MSVCCompiler
      libraries lapack not found in ['C:\\Users\\894524\\.conda\\envs\\ML\\lib', 'C:\\', 'C:\\Users\\894524\\.conda\\envs\\ML\\libs', 'C:\\ProgramData\\Anaconda3\\Library\\lib']
      NOT AVAILABLE

    C:\Users\894524\AppData\Local\Temp\pip-install-cqhank64\numpy_8e80872b5ae64038bec5e5cb730732f3\numpy\distutils\system_info.py:624: UserWarning:
        Lapack (http://www.netlib.org/lapack/) libraries not found.
        Directories to search for the libraries can be specified in the
        numpy/distutils/site.cfg file (section [lapack]) or by setting
        the LAPACK environment variable.
      self.calc_info()
    lapack_src_info:
      NOT AVAILABLE

    C:\Users\894524\AppData\Local\Temp\pip-install-cqhank64\numpy_8e80872b5ae64038bec5e5cb730732f3\numpy\distutils\system_info.py:624: UserWarning:
        Lapack (http://www.netlib.org/lapack/) sources not found.
        Directories to search for the sources can be specified in the
        numpy/distutils/site.cfg file (section [lapack_src]) or by setting
        the LAPACK_SRC environment variable.
      self.calc_info()
      NOT AVAILABLE

    C:\Users\894524\.conda\envs\ML\lib\distutils\dist.py:274: UserWarning: Unknown distribution option: 'define_macros'
      warnings.warn(msg)
    running bdist_wheel
    running build
    running config_cc
    unifing config_cc, config, build_clib, build_ext, build commands --compiler options
    running config_fc
    unifing config_fc, config, build_clib, build_ext, build commands --fcompiler options
    running build_src
    build_src
    building py_modules sources
    creating build
    creating build\src.win-amd64-3.9
    creating build\src.win-amd64-3.9\numpy
    creating build\src.win-amd64-3.9\numpy\distutils
    building library "npymath" sources
    No module named 'numpy.distutils._msvccompiler' in numpy.distutils; trying from distutils
    error: Microsoft Visual C++ 14.0 or greater is required. Get it with "Microsoft C++ Build Tools": https://visualstudio.microsoft.com/visual-cpp-build-tools/
    ----------------------------------------
    ERROR: Failed building wheel for numpy
    Running setup.py clean for numpy
    ERROR: Command errored out with exit status 1:
     command: 'C:\Users\894524\.conda\envs\ML\python.exe' -u -c 'import io, os, sys, setuptools, tokenize; sys.argv[0] = '"'"'C:\\Users\\894524\\AppData\\Local\\Temp\\pip-install-cqhank64\\numpy_8e80872b5ae64038bec5e5cb730732f3\\setup.py'"'"'; __file__='"'"'C:\\Users\\894524\\AppData\\Local\\Temp\\pip-install-cqhank64\\numpy_8e80872b5ae64038bec5e5cb730732f3\\setup.py'"'"';f = getattr(tokenize, '"'"'open'"'"', open)(__file__) if os.path.exists(__file__) else io.StringIO('"'"'from setuptools import setup; setup()'"'"');code = f.read().replace('"'"'\r\n'"'"', '"'"'\n'"'"');f.close();exec(compile(code, __file__, '"'"'exec'"'"'))' clean --all
         cwd: C:\Users\894524\AppData\Local\Temp\pip-install-cqhank64\numpy_8e80872b5ae64038bec5e5cb730732f3
    Complete output (10 lines):
    Running from numpy source directory.

    `setup.py clean` is not supported, use one of the following instead:

      - `git clean -xdf` (cleans all files)
      - `git clean -Xdf` (cleans all versioned files, doesn't touch
                          files that aren't checked into the git repo)

    Add `--force` to your command to use it anyway if you must (unsupported).

    ----------------------------------------
    ERROR: Failed cleaning build dir for numpy
  Failed to build numpy
  Installing collected packages: wheel, setuptools, numpy
      Running setup.py install for numpy: started
      Running setup.py install for numpy: finished with status 'error'
      ERROR: Command errored out with exit status 1:
       command: 'C:\Users\894524\.conda\envs\ML\python.exe' -u -c 'import io, os, sys, setuptools, tokenize; sys.argv[0] = '"'"'C:\\Users\\894524\\AppData\\Local\\Temp\\pip-install-cqhank64\\numpy_8e80872b5ae64038bec5e5cb730732f3\\setup.py'"'"'; __file__='"'"'C:\\Users\\894524\\AppData\\Local\\Temp\\pip-install-cqhank64\\numpy_8e80872b5ae64038bec5e5cb730732f3\\setup.py'"'"';f = getattr(tokenize, '"'"'open'"'"', open)(__file__) if os.path.exists(__file__) else io.StringIO('"'"'from setuptools import setup; setup()'"'"');code = f.read().replace('"'"'\r\n'"'"', '"'"'\n'"'"');f.close();exec(compile(code, __file__, '"'"'exec'"'"'))' install --record 'C:\Users\894524\AppData\Local\Temp\pip-record-6ukf93mt\install-record.txt' --single-version-externally-managed --prefix 'C:\Users\894524\AppData\Local\Temp\pip-build-env-x9j_1hq9\overlay' --compile --install-headers 'C:\Users\894524\AppData\Local\Temp\pip-build-env-x9j_1hq9\overlay\Include\numpy'
           cwd: C:\Users\894524\AppData\Local\Temp\pip-install-cqhank64\numpy_8e80872b5ae64038bec5e5cb730732f3\
      Complete output (291 lines):
      Running from numpy source directory.

      Note: if you need reliable uninstall behavior, then install
      with pip instead of using `setup.py install`:

        - `pip install .`       (from a git repo or downloaded source
                                 release)
        - `pip install numpy`   (last NumPy release on PyPi)


      blas_opt_info:
      blas_mkl_info:
      No module named 'numpy.distutils._msvccompiler' in numpy.distutils; trying from distutils
      customize MSVCCompiler
        libraries mkl_rt not found in ['C:\\Users\\894524\\.conda\\envs\\ML\\lib', 'C:\\', 'C:\\Users\\894524\\.conda\\envs\\ML\\libs', 'C:\\ProgramData\\Anaconda3\\Library\\lib']
        NOT AVAILABLE

      blis_info:
      No module named 'numpy.distutils._msvccompiler' in numpy.distutils; trying from distutils
      customize MSVCCompiler
        libraries blis not found in ['C:\\Users\\894524\\.conda\\envs\\ML\\lib', 'C:\\', 'C:\\Users\\894524\\.conda\\envs\\ML\\libs', 'C:\\ProgramData\\Anaconda3\\Library\\lib']
        NOT AVAILABLE

      openblas_info:
      No module named 'numpy.distutils._msvccompiler' in numpy.distutils; trying from distutils
      customize MSVCCompiler
      No module named 'numpy.distutils._msvccompiler' in numpy.distutils; trying from distutils
      customize MSVCCompiler
        libraries openblas not found in ['C:\\Users\\894524\\.conda\\envs\\ML\\lib', 'C:\\', 'C:\\Users\\894524\\.conda\\envs\\ML\\libs', 'C:\\ProgramData\\Anaconda3\\Library\\lib']
      get_default_fcompiler: matching types: '['gnu', 'intelv', 'absoft', 'compaqv', 'intelev', 'gnu95', 'g95', 'intelvem', 'intelem', 'flang']'
      customize GnuFCompiler
      Could not locate executable g77
      Could not locate executable f77
      customize IntelVisualFCompiler
      Could not locate executable ifort
      Could not locate executable ifl
      customize AbsoftFCompiler
      Could not locate executable f90
      customize CompaqVisualFCompiler
      Could not locate executable DF
      customize IntelItaniumVisualFCompiler
      Could not locate executable efl
      customize Gnu95FCompiler
      Could not locate executable gfortran
      Could not locate executable f95
      customize G95FCompiler
      Could not locate executable g95
      customize IntelEM64VisualFCompiler
      customize IntelEM64TFCompiler
      Could not locate executable efort
      Could not locate executable efc
      customize PGroupFlangCompiler
      Could not locate executable flang
      don't know how to compile Fortran code on platform 'nt'
        NOT AVAILABLE

      atlas_3_10_blas_threads_info:
      Setting PTATLAS=ATLAS
      No module named 'numpy.distutils._msvccompiler' in numpy.distutils; trying from distutils
      customize MSVCCompiler
        libraries tatlas not found in ['C:\\Users\\894524\\.conda\\envs\\ML\\lib', 'C:\\', 'C:\\Users\\894524\\.conda\\envs\\ML\\libs', 'C:\\ProgramData\\Anaconda3\\Library\\lib']
        NOT AVAILABLE

      atlas_3_10_blas_info:
      No module named 'numpy.distutils._msvccompiler' in numpy.distutils; trying from distutils
      customize MSVCCompiler
        libraries satlas not found in ['C:\\Users\\894524\\.conda\\envs\\ML\\lib', 'C:\\', 'C:\\Users\\894524\\.conda\\envs\\ML\\libs', 'C:\\ProgramData\\Anaconda3\\Library\\lib']
        NOT AVAILABLE

      atlas_blas_threads_info:
      Setting PTATLAS=ATLAS
      No module named 'numpy.distutils._msvccompiler' in numpy.distutils; trying from distutils
      customize MSVCCompiler
        libraries ptf77blas,ptcblas,atlas not found in ['C:\\Users\\894524\\.conda\\envs\\ML\\lib', 'C:\\', 'C:\\Users\\894524\\.conda\\envs\\ML\\libs', 'C:\\ProgramData\\Anaconda3\\Library\\lib']
        NOT AVAILABLE

      atlas_blas_info:
      No module named 'numpy.distutils._msvccompiler' in numpy.distutils; trying from distutils
      customize MSVCCompiler
        libraries f77blas,cblas,atlas not found in ['C:\\Users\\894524\\.conda\\envs\\ML\\lib', 'C:\\', 'C:\\Users\\894524\\.conda\\envs\\ML\\libs', 'C:\\ProgramData\\Anaconda3\\Library\\lib']
        NOT AVAILABLE

      C:\Users\894524\AppData\Local\Temp\pip-install-cqhank64\numpy_8e80872b5ae64038bec5e5cb730732f3\numpy\distutils\system_info.py:624: UserWarning:
          Atlas (http://math-atlas.sourceforge.net/) libraries not found.
          Directories to search for the libraries can be specified in the
          numpy/distutils/site.cfg file (section [atlas]) or by setting
          the ATLAS environment variable.
        self.calc_info()
      blas_info:
      No module named 'numpy.distutils._msvccompiler' in numpy.distutils; trying from distutils
      customize MSVCCompiler
        libraries blas not found in ['C:\\Users\\894524\\.conda\\envs\\ML\\lib', 'C:\\', 'C:\\Users\\894524\\.conda\\envs\\ML\\libs', 'C:\\ProgramData\\Anaconda3\\Library\\lib']
        NOT AVAILABLE

      C:\Users\894524\AppData\Local\Temp\pip-install-cqhank64\numpy_8e80872b5ae64038bec5e5cb730732f3\numpy\distutils\system_info.py:624: UserWarning:
          Blas (http://www.netlib.org/blas/) libraries not found.
          Directories to search for the libraries can be specified in the
          numpy/distutils/site.cfg file (section [blas]) or by setting
          the BLAS environment variable.
        self.calc_info()
      blas_src_info:
        NOT AVAILABLE

      C:\Users\894524\AppData\Local\Temp\pip-install-cqhank64\numpy_8e80872b5ae64038bec5e5cb730732f3\numpy\distutils\system_info.py:624: UserWarning:
          Blas (http://www.netlib.org/blas/) sources not found.
          Directories to search for the sources can be specified in the
          numpy/distutils/site.cfg file (section [blas_src]) or by setting
          the BLAS_SRC environment variable.
        self.calc_info()
        NOT AVAILABLE

      'svnversion' is not recognized as an internal or external command,
      operable program or batch file.
      'svnversion' is not recognized as an internal or external command,
      operable program or batch file.
      non-existing path in 'numpy\\distutils': 'site.cfg'
      F2PY Version 2
      lapack_opt_info:
      lapack_mkl_info:
      No module named 'numpy.distutils._msvccompiler' in numpy.distutils; trying from distutils
      customize MSVCCompiler
        libraries mkl_rt not found in ['C:\\Users\\894524\\.conda\\envs\\ML\\lib', 'C:\\', 'C:\\Users\\894524\\.conda\\envs\\ML\\libs', 'C:\\ProgramData\\Anaconda3\\Library\\lib']
        NOT AVAILABLE

      openblas_lapack_info:
      No module named 'numpy.distutils._msvccompiler' in numpy.distutils; trying from distutils
      customize MSVCCompiler
      No module named 'numpy.distutils._msvccompiler' in numpy.distutils; trying from distutils
      customize MSVCCompiler
        libraries openblas not found in ['C:\\Users\\894524\\.conda\\envs\\ML\\lib', 'C:\\', 'C:\\Users\\894524\\.conda\\envs\\ML\\libs', 'C:\\ProgramData\\Anaconda3\\Library\\lib']
        NOT AVAILABLE

      openblas_clapack_info:
      No module named 'numpy.distutils._msvccompiler' in numpy.distutils; trying from distutils
      customize MSVCCompiler
      No module named 'numpy.distutils._msvccompiler' in numpy.distutils; trying from distutils

In [20]:
import seaborn as sns

In [27]:
from pandas_profiling import ProfileReport

ModuleNotFoundError: No module named 'pandas_profiling'

In [28]:
from pandas_profiling import ProfileReport

ModuleNotFoundError: No module named 'pandas_profiling'

Executing shutdown due to inactivity...

2021-09-14 19:18:32,813 - INFO     - Executing shutdown due to inactivity...

Executing shutdown...

2021-09-14 19:18:36,868 - INFO     - Executing shutdown...

In [30]:
sensor=pd.read_excel("C:\\Documents\\DS\\TopMentee\\Tableau\\Sources\\vIZ wK 4\\Sensor Data Analysis.xlsx")
sensor

,Time_Stamp,Time,F1_rHydPump_400Bar,F2_rHydPump_400Bar,F3_rHydPump_400Bar,F4_rHydPump_400Bar,F5_rHydPump_400Bar,F6_rHydPump_400Bar,F7_rHydPump_400Bar,F8_rHydPump_400Bar,...,F13_rHydPump_400Bar,F13_rHydPump_200Bar,F13_rHydTank_Oil_Temp,F13_rAirFlowVelocity,F13_rMotorTemp,F14_rAirFlowVelocity,F14_rHydPump_200Bar,F14_rHydPump_400Bar,F14_rHydTank_Oil_Temp,F14_rMotorTemp
0,2020-02-10,08:01:00,0.2,214.0,0.125,216.3,0.2,217.8,223.6,237.875,...,227.7,95.6,44.2,0,36.2,27.12,94.6,237.5,52.0,46.3
1,2020-02-10,08:06:00,228.2,214.1,0.000,216.8,0.3,218.0,214.2,237.875,...,227.0,95.2,45.9,0,38.2,28.37,94.9,237.3,51.8,46.4
2,2020-02-10,08:11:00,228.3,203.6,0.125,217.0,0.2,217.2,211.6,237.750,...,227.1,95.1,47.9,0,39.9,0.00,0.0,0.3,51.4,47.0
3,2020-02-10,08:16:00,232.3,215.2,0.125,216.2,0.3,215.6,212.1,237.625,...,227.3,94.7,49.6,0,41.4,0.00,0.0,0.3,51.3,52.9
4,2020-02-10,08:21:00,231.7,203.6,0.000,216.3,0.1,218.0,209.6,237.750,...,226.8,94.7,51.1,0,42.7,0.00,0.1,0.3,51.2,53.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1470,2020-02-15,10:38:00,227.7,0.0,0.125,1.3,229.1,1.2,214.5,1.750,...,226.7,97.5,51.4,0,50.2,0.00,0.0,0.1,47.1,37.0
1471,2020-02-15,10:43:00,227.8,0.0,0.250,1.5,231.2,1.2,224.1,1.875,...,227.3,97.8,52.1,0,50.0,0.00,0.0,0.0,47.0,36.8
1472,2020-02-15,10:48:00,231.0,0.0,0.125,1.5,229.2,1.3,213.8,1.875,...,226.8,97.5,51.3,0,50.2,0.00,0.0,0.3,46.8,36.6
1473,2020-02-15,10:53:00,232.1,0.0,0.125,1.3,228.6,1.3,211.8,1.625,...,227.2,97.8,52.2,0,50.1,0.00,0.0,0.2,46.7,36.4
1474,2020-02-15,10:58:00,232.1,0.0,0.125,1.5,231.3,1.3,212.5,1.625,...,226.7,97.5,51.3,0,50.3,0.00,0.0,0.2,46.6,36.1

In [31]:
import dtale

In [32]:
dtale.show(sensor)

C:\ProgramData\Anaconda3\lib\site-packages\dtale\describe.py:14: FutureWarning:

Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.

In [33]:
import sweetviz

ModuleNotFoundError: No module named 'sweetviz'

Executing shutdown due to inactivity...
Executing shutdown due to inactivity...

2021-09-15 19:28:34,265 - INFO     - Executing shutdown due to inactivity...

Executing shutdown...
Executing shutdown...

2021-09-15 19:28:46,443 - INFO     - Executing shutdown...

In [34]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [46]:
df.set_index('Cabin').loc['G6']

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked
Cabin,,,,,,,,,,,
G6,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,S
G6,206,0,3,"Strom, Miss. Telma Matilda",female,2.0,0,1,347054,10.4625,S
G6,252,0,3,"Strom, Mrs. Wilhelm (Elna Matilda Persson)",female,29.0,1,1,347054,10.4625,S
G6,395,1,3,"Sandstrom, Mrs. Hjalmar (Agnes Charlotta Bengt...",female,24.0,0,2,PP 9549,16.7000,S

In [39]:
df[df['Cabin']=='C85']

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C

df.style.highlight_null()

In [45]:
df['Cabin'].value_counts()

G6             4
B96 B98        4
C23 C25 C27    4
C22 C26        3
D              3
              ..
C106           1
A20            1
C30            1
C7             1
F38            1
Name: Cabin, Length: 147, dtype: int64

In [47]:
df.style.bar()

In [48]:
df.T

,0,1,2,3,4,5,6,7,8,9,...,881,882,883,884,885,886,887,888,889,890
PassengerId,1,2,3,4,5,6,7,8,9,10,...,882,883,884,885,886,887,888,889,890,891
Survived,0,1,1,1,0,0,0,0,1,1,...,0,0,0,0,0,0,1,0,1,0
Pclass,3,1,3,1,3,3,1,3,3,2,...,3,3,2,3,3,2,1,3,1,3
Name,"Braund, Mr. Owen Harris","Cumings, Mrs. John Bradley (Florence Briggs Th...","Heikkinen, Miss. Laina","Futrelle, Mrs. Jacques Heath (Lily May Peel)","Allen, Mr. William Henry","Moran, Mr. James","McCarthy, Mr. Timothy J","Palsson, Master. Gosta Leonard","Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)","Nasser, Mrs. Nicholas (Adele Achem)",...,"Markun, Mr. Johann","Dahlberg, Miss. Gerda Ulrika","Banfield, Mr. Frederick James","Sutehall, Mr. Henry Jr","Rice, Mrs. William (Margaret Norton)","Montvila, Rev. Juozas","Graham, Miss. Margaret Edith","Johnston, Miss. Catherine Helen ""Carrie""","Behr, Mr. Karl Howell","Dooley, Mr. Patrick"
Sex,male,female,female,female,male,male,male,male,female,female,...,male,female,male,male,female,male,female,female,male,male
Age,22.0,38.0,26.0,35.0,35.0,NaN,54.0,2.0,27.0,14.0,...,33.0,22.0,28.0,25.0,39.0,27.0,19.0,NaN,26.0,32.0
SibSp,1,1,0,1,0,0,0,3,0,1,...,0,0,0,0,0,0,0,1,0,0
Parch,0,0,0,0,0,0,0,1,2,0,...,0,0,0,0,5,0,0,2,0,0
Ticket,A/5 21171,PC 17599,STON/O2. 3101282,113803,373450,330877,17463,349909,347742,237736,...,349257,7552,C.A./SOTON 34068,SOTON/OQ 392076,382652,211536,112053,W./C. 6607,111369,370376
Fare,7.25,71.2833,7.925,53.1,8.05,8.4583,51.8625,21.075,11.1333,30.0708,...,7.8958,10.5167,10.5,7.05,29.125,13.0,30.0,23.45,30.0,7.75
Cabin,NaN,C85,NaN,C123,NaN,NaN,E46,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,B42,NaN,C148,NaN
Embarked,S,C,S,S,S,Q,S,S,S,C,...,S,S,S,S,Q,S,S,S,C,Q